@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Vazirmatn:wght@100;400&display=swap");

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "VazirMtn", sans-serif;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  scroll-behavior: smooth;
  background-color: white;
  color: black;
  width: 100%;
  z-index: 0.1;
}

body.dark {
  background-color: #000000;
  color: white !important;
}

nav {
  display: flex;
  align-items: center;
  background-color: #626ed4;
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 100;
}

nav ul {
  list-style: none;
  display: flex;
  width: 1514px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 20px 50px;
  font-size: 1.2rem;
  margin-bottom: 0;
}

nav a:hover {
  background-color: #14391c;
}

nav i{
  float: right;
  font-size: 22px;
  margin-right: 24px;
  margin-left: 24px;
}

nav a i{color: white;}

nav a i.dark{
    color: black;
}

#toggleBtn{color: gold;}
#toggleBtn.dark{color: black !important;}

#cld1{
  width: 250px;
  position: absolute;
  top: 150px;
  left: 1150px;
}
#cld2{
  width: 250px;
  position: absolute;
  top: 300px;
  left: 220px;
  z-index: 10;
}
.sun{
  width: 250px;
  position: absolute;
  top: 80px;
  left: 220px;
  z-index: .2;
}
.sun.dark{display: none;}

.moon{
  width: 250px;
  position: absolute;
  top: 80px;
  left: 220px;
  z-index: .2;
  display: none;
}
.moon.dark{
  display: block;
}

.s1 {
  margin: 170px auto 0px;
  z-index: 0.1;
}

.s1 h1 {
  border-radius: nullpx;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 111%;
  text-align: center;
  z-index: 10;
}

.s1 h4 {
  margin-top: 20px;
  margin-bottom: 62px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.s1 img {
  width: 1111px;
  height: 625px;
}

.s2 h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.s2 h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.s2 .nums {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.s2 .n {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0 15.5px;
  width: 351px;
}

.s2 h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.s2 .nbg {
  background-color: #0baaca;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.s2 #true {
  background-color: #bbc0c4;
}

.s2 #true i {
  color: #6c757d;
  font-size: 24px;
}

.s2 h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 16px 0 4px;
}

.s2 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #626ed4;
}

.s2 img {
  height: 404px;
  width: 1110px;
  border-radius: 19px;
  margin-top: 36px;
}

.s2 .img2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: right;
  margin-top: 151px;
  margin-bottom: 91px;
}

.s3 h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}

.s3 h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: right;
}

.s3 img {
  margin-top: 23px;
  height: 99px;
  width: 505px;
  left: 402px;
  top: 97px;
  border-radius: 0px;
  margin-right: 79.5px;
}

.s3 .txts {
  height: 156px;
  width: 449px;
  border-radius: nullpx;
  margin-left: 79.5px;
}

/*! section 4 Start now */
.s4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 79px;
}

.s4 .right {
  text-align: right;
  margin-left: 52px;
  position: relative;
  top: 10px;
}

.s4 .right h5 {
  display: inline-block;
  margin-left: 323px;
  margin-bottom: 4px;
}

.s4 .right h1 {
  margin: 0px 0 32px;
}

.s4 .right p {
  margin-bottom: 24px;
}

.s4 i {
  margin-right: 20px;
}

.s4 .left {
  margin-right: 52px;
  margin-top: 6px;
}

.s4 .left h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  color: #0baaca;
  z-index: 10;
}

.s4 .left p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #626ed4;
  margin-bottom: 40px;
  margin-top: 20px;
}

.s4 .left .box {
  height: 265px;
  width: 266px;
  border-radius: 24px;
  background-color: pink;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.224);
  border-radius: 24px;
}

.s4 .left i {
  /* font-size: 25px; */
  color: orange;
  margin: 0 auto;
}

.s4 .left .i2 i {
  color: #14391c;
}

.s4 .left .i2 {
  margin-left: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: rgb(88, 177, 99);
}

.s4 .left .i3 i {
  color: #363c6f;
}

.s4 .left .i3 {
  margin-left: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: rgb(134, 130, 186);
}

.s4 .icon {
  margin-left: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: rgb(229, 194, 128);
}

.s4 .b2 {
  position: absolute;
  left: 500px;
  top: 2400px;
}

.s4 .b1 {
  margin-bottom: 49px;
}

.s5 {
  margin-top: 232px;
  text-align: right;
  width: 73.3%;
}

.s5 .txts {
  margin-left: auto;
}

.s5 h1 {
  margin-bottom: 40px;
  /* color: red; */
}

.s5 .parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s5 .child {
  width: 350px;
  height: 224px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px 0px #00000009;
  margin-right: 70px;
  padding: 20px;
}
.s5 .child h2 {
  margin-top: 16px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}
.s5 .child p {
  height: 64px;
  width: 260px;
  border-radius: nullpx;
  text-align: center;
  position: relative;
  margin-top: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #a34393;
}
.s5 .child i {
  font-size: 48px;
  color: #a34393;
}

.s6 {
  margin-top: 335px;
}

.s6 .topic h5 {
  height: 28px;
  width: 69px;
  border-radius: nullpx;
  margin: 0 auto 7px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.s6 .topic h1 {
  height: 52px;
  width: 433px;
  border-radius: nullpx;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.s6 .towbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.s6 .t-box {
  height: 440px;
  width: 540px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px #00000050;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* padding: 20px; */
}

#b1 {
  margin-right: 15px;
}

#b2 {
  margin-left: 15px;
}

.s6 .towbox .t-box h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-top: 56px;
  margin-bottom: 5px;
}

.s6 .towbox .t-box h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  margin: 0 0 17px;
}

.s6 .towbox .t-box p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 13px;
  /* margin-top: 17px;
  margin-bottom: 13px; */
}

.s6 .towbox .t-box button {
  border: none;
  background: #0baaca;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 162px;
  gap: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ff0000;
}

.s6 h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.2px;
  margin: 40px 0 0;
}

.s6 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*? 77777777777777777777777777777777 */
.s7 {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 179px;
}

.s7 img {
  height: 427px;
  width: 570px;
  border-radius: 24px;
  margin-right: 105px;
}

.s7 .txts {
  margin-left: 105px;
}

.s7 h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: right;
}

.s7 h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: right;
  margin-bottom: 28px;
}

.s7 p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: right;
  color: #4c3cb6;
}

/*? 88888888888888888888888888888 */

.s8 {
  height: 348px;
  width: 100%;
  background-color: #626ed4;
  display: flex;
  align-items: center;
  margin-top: 191px;
  z-index: 10;
}

.s8 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: right;
  height: 188px;
  width: 1140px;
  border-radius: 12px;
  background-color: white;
  z-index: 1;
}

.s8 #c1 {
  position: absolute;
  right: 950px;
  top: 5350px;
  height: 153.99999833081448px;
  width: 175.99999830389213px;
}

.s8 #c2 {
  position: absolute;
  right: 1100px;
  top: 5350px;
  height: 153.99999833081448px;
  width: 175.99999830389213px;
  z-index: 0;
}

.s8 h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: right;
  margin-left: 58.5px;
  margin-bottom: 0;
  color: #09512b;
}

.s8 button {
  width: 277px;
  height: 68px;
  background: #15f57c;
  border-radius: 11px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-right: 58.8px;
  z-index: 1;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 88px;
}

footer p {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

.social-media-icons {
  margin-left: 250px;
}

footer i {
  font-size: 20px;
  color: #6c757d;
}

footer p {
  margin-right: 180px;
}

#ig {
  margin-right: 70px;
}
